<htnl>
    <body>
        <h2> 
          Hola {{mi_empleado.nombre}}<i>{{mi_empleado.apellido}}</i>  estas es mi cuarta plantilla en archivo!<br>
          Hoy es: {{fecha_actual.year }}/{{fecha_actual.month }}/{{fecha_actual.day }}
        </h2>
        <p>
            El empleado trabajo los dias
        </p>
        {% if  dias_laborables%}
        <ul>
            {% for elemento in dias_laborables %}
                <li>
                     {{elemento}}
                </li>
            {% endfor %}
        </ul>
        {%endif%}

        
    </body>
</html>